.my_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.my_container::-webkit-scrollbar {
  display: none;
}

.my_blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.my_header {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(63, 63, 63, 0.9);
}

.my_statistic {
  margin-bottom: 20px;
}

.blog_title {
  font-weight: bold;
}

.blog_title:hover {
  cursor: pointer;
  color: #4B56D2;
}